html, body
{
   width: 100%;
   height: 100%;
}
body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
#YouTube1
{
   border-width: 0;
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_YouTube1
{
   background-color: #000000;
   overflow: hidden !important;
   position: fixed !important;
   left: 0 !important;
   top: 0 !important;
   width: 100% !important;
   height: 100% !important;
}
#TransparentLayer
{
   background-color: transparent;
   background-image: none;
}
#TransparentLayer{
   display: inline-flex !important;
}
#wb_Text2 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 50px 0px 50px 0px;
   text-align: center;
}
#wb_Text2 div
{
   text-align: center;
}
#Layer2
{
   background-color: #4775C0;
   background-image: none;
}
#Layer3
{
   background-color: #FFFFFF;
   background-image: none;
}
#wb_Text3 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text3 div
{
   text-align: center;
}
#wb_Text4 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text4 div
{
   text-align: center;
}
#wb_LayoutGrid2
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #FFFFFF;
   background-image: none;
   border: 0px #CCCCCC solid;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}
#LayoutGrid2
{
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   padding: 0px 15px 0px 15px;
   margin-right: auto;
   margin-left: auto;
}
#LayoutGrid2 .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid2 .col-1, #LayoutGrid2 .col-2, #LayoutGrid2 .col-3
{
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#LayoutGrid2
{
}
#LayoutGrid2 .col-1, #LayoutGrid2 .col-2, #LayoutGrid2 .col-3
{
   float: left;
}
#LayoutGrid2 .col-1
{
   background-color: transparent;
   background-image: none;
   width: 33.33333333%;
   text-align: center;
}
#LayoutGrid2 .col-2
{
   background-color: transparent;
   background-image: none;
   width: 33.33333333%;
   text-align: center;
}
#LayoutGrid2 .col-3
{
   background-color: transparent;
   background-image: none;
   width: 33.33333333%;
   text-align: center;
}
#LayoutGrid2:before,
#LayoutGrid2:after,
#LayoutGrid2 .row:before,
#LayoutGrid2 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid2:after,
#LayoutGrid2 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#LayoutGrid2 .col-1, #LayoutGrid2 .col-2, #LayoutGrid2 .col-3
{
   float: none;
   width: 100%;
}
}
#wb_FontAwesomeIcon4
{
   background-color: #474745;
   background-image: none;
   border: 0px #474745 solid;
   -moz-border-radius: 50%;
   -webkit-border-radius: 50%;
   border-radius: 50%;
   text-align: center;
   padding: 10px 10px 10px 10px;
}
#wb_FontAwesomeIcon4:hover
{
   background-color: #C8A98C;
   background-image: none;
   border: 0px #474745 solid;
}
#FontAwesomeIcon4
{
   height: 56px;
   width: 56px;
}
#FontAwesomeIcon4 i
{
   color: #FFFFFF;
   display: inline-block;
   font-size: 56px;
   line-height: 56px;
   vertical-align: middle;
   width: 52px;
}
#wb_FontAwesomeIcon4:hover i
{
   color: #FFFFFF;
}
#wb_FontAwesomeIcon7
{
   background-color: #474745;
   background-image: none;
   border: 0px #474745 solid;
   -moz-border-radius: 50%;
   -webkit-border-radius: 50%;
   border-radius: 50%;
   text-align: center;
   padding: 10px 10px 10px 10px;
}
#wb_FontAwesomeIcon7:hover
{
   background-color: #C8A98C;
   background-image: none;
   border: 0px #474745 solid;
}
#FontAwesomeIcon7
{
   height: 56px;
   width: 56px;
}
#FontAwesomeIcon7 i
{
   color: #FFFFFF;
   display: inline-block;
   font-size: 56px;
   line-height: 56px;
   vertical-align: middle;
   width: 24px;
}
#wb_FontAwesomeIcon7:hover i
{
   color: #FFFFFF;
}
#wb_FontAwesomeIcon8
{
   background-color: #474745;
   background-image: none;
   border: 0px #474745 solid;
   -moz-border-radius: 50%;
   -webkit-border-radius: 50%;
   border-radius: 50%;
   text-align: center;
   padding: 10px 10px 10px 10px;
}
#wb_FontAwesomeIcon8:hover
{
   background-color: #C8A98C;
   background-image: none;
   border: 0px #474745 solid;
}
#FontAwesomeIcon8
{
   height: 56px;
   width: 56px;
}
#FontAwesomeIcon8 i
{
   color: #FFFFFF;
   display: inline-block;
   font-size: 56px;
   line-height: 56px;
   vertical-align: middle;
   width: 36px;
}
#wb_FontAwesomeIcon8:hover i
{
   color: #FFFFFF;
}
#wb_Heading1
{
   background-color: transparent;
   background-image: none;
   border: 0px #FFFFFF solid;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   padding: 10px 0px 10px 0px;
}
#Heading1
{
   color: #333333;
   font-family: Arial;
   font-weight: bold;
   font-size: 24px;
   margin: 0;
   text-align: center;
}
#wb_Heading2
{
   background-color: transparent;
   background-image: none;
   border: 0px #FFFFFF solid;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   padding: 10px 0px 10px 0px;
}
#Heading2
{
   color: #333333;
   font-family: Arial;
   font-weight: bold;
   font-size: 24px;
   margin: 0;
   text-align: center;
}
#wb_Heading3
{
   background-color: transparent;
   background-image: none;
   border: 0px #FFFFFF solid;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   padding: 10px 0px 10px 0px;
}
#Heading3
{
   color: #333333;
   font-family: Arial;
   font-weight: bold;
   font-size: 24px;
   margin: 0;
   text-align: center;
}
#wb_Text8 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text8 div
{
   text-align: center;
}
#wb_Text10 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text10 div
{
   text-align: center;
}
#wb_Text11 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text11 div
{
   text-align: center;
}
#Layer5
{
   background-color: #FFFFFF;
   background-image: none;
}
#Layer6
{
   background-color: #4775C0;
   background-image: none;
}
#wb_Text13 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text13 div
{
   text-align: center;
}
#wb_LayoutGrid3
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px #CCCCCC solid;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}
#LayoutGrid3
{
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   padding: 0px 0px 0px 0px;
   margin-right: auto;
   margin-left: auto;
}
#LayoutGrid3 .row
{
   margin-right: -0px;
   margin-left: -0px;
}
#LayoutGrid3 .col-1
{
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 0px;
   padding-left: 0px;
   position: relative;
}
#LayoutGrid3
{
}
#LayoutGrid3 .col-1
{
   float: left;
}
#LayoutGrid3 .col-1
{
   background-color: transparent;
   background-image: none;
   width: 100%;
   text-align: center;
}
#LayoutGrid3:before,
#LayoutGrid3:after,
#LayoutGrid3 .row:before,
#LayoutGrid3 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid3:after,
#LayoutGrid3 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#LayoutGrid3 .col-1
{
   float: none;
   width: 100%;
}
}
#PhotoGallery1
{
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   font-size: 0;
   width: 100%;
   height: 100%;
   table-layout: fixed;
   display: table;
}
#PhotoGallery1 .thumbnails
{
   margin: 0;
}
#PhotoGallery1 .thumbnail
{
   position: relative;
   min-height: 1px;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   float: left;
   padding: 0px 0px 0px 0px;
   width: 25%;
   text-align: center;
   vertical-align: top;
}
#PhotoGallery1 .thumbnail img
{
   border: 0px #000000 solid;
   display: block;
   width: 100%;
   height: auto;
   max-width: 100%;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}
#PhotoGallery1 .clearfix:before,
#PhotoGallery1 .clearfix:after,
#PhotoGallery1 .thumbnails:before,
#PhotoGallery1 .thumbnails:after
{
   display: table;
   content: " ";
}
#PhotoGallery1 .clearfix:after,
#PhotoGallery1 .thumbnails:after
{
   clear: both;
}
#PhotoGallery1 .visible-col4
{
   display: block;
}
#PhotoGallery1 .visible-col2
{
   display: none;
}
#Editbox1
{
   border: 0px #A0A0A0 solid;
   background-color: #FFFFFF;
   background-image: none;
   color :#000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   padding: 4px 4px 4px 4px;
   margin: 0px 0px 10px 0px;
   text-align: left;
   vertical-align: middle;
}
#Editbox1:focus
{
   border-color: #C8A98C;
   -webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(200,169,140,0.60);
   -moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(200,169,140,0.60);
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(200,169,140,0.60);
   outline: 0;
}
#Editbox2
{
   border: 0px #A0A0A0 solid;
   background-color: #FFFFFF;
   background-image: none;
   color :#000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   padding: 4px 4px 4px 4px;
   margin: 0px 0px 10px 0px;
   text-align: left;
   vertical-align: middle;
}
#Editbox2:focus
{
   border-color: #C8A98C;
   -webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(200,169,140,0.60);
   -moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(200,169,140,0.60);
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(200,169,140,0.60);
   outline: 0;
}
#Editbox3
{
   border: 0px #A0A0A0 solid;
   background-color: #FFFFFF;
   background-image: none;
   color :#000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   padding: 4px 4px 4px 4px;
   margin: 0px 0px 10px 0px;
   text-align: left;
   vertical-align: middle;
}
#Editbox3:focus
{
   border-color: #C8A98C;
   -webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(200,169,140,0.60);
   -moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(200,169,140,0.60);
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(200,169,140,0.60);
   outline: 0;
}
#TextArea1
{
   border: 0px #A0A0A0 solid;
   background-color: #FFFFFF;
   background-image: none;
   color :#000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   padding: 4px 4px 4px 4px;
   text-align: left;
   overflow: auto;
   resize: none;
}
#TextArea1:focus
{
   border-color: #C8A98C;
   -webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(200,169,140,0.60);
   -moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(200,169,140,0.60);
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(200,169,140,0.60);
   outline: 0;
}
#Button1
{
   border: 1px #4775C0 solid;
   background-color: #4775C0;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   margin: 25px 0px 50px 0px;
}
#wb_LayoutGrid4
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px #CCCCCC solid;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}
#LayoutGrid4
{
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   padding: 0px 15px 0px 15px;
   margin-right: auto;
   margin-left: auto;
}
#LayoutGrid4 .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid4 .row .col-1, #LayoutGrid4 .row .col-2
{
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#LayoutGrid4
{
}
#LayoutGrid4 .row .col-1, #LayoutGrid4 .row .col-2
{
   float: left;
}
#LayoutGrid4 .row .col-1
{
   background-color: transparent;
   background-image: none;
   width: 50%;
   text-align: left;
}
#LayoutGrid4 .row .col-2
{
   background-color: transparent;
   background-image: none;
   width: 50%;
   text-align: right;
}
#LayoutGrid4:before,
#LayoutGrid4:after,
#LayoutGrid4 .row:before,
#LayoutGrid4 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid4:after,
#LayoutGrid4 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#LayoutGrid4 .row .col-1, #LayoutGrid4 .row .col-2
{
   float: none;
   width: 100%;
}
}
#wb_LayoutGrid1
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #EFEFEF;
   background-image: none;
   border: 0px #CCCCCC solid;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}
#LayoutGrid1
{
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   padding: 0px 15px 0px 15px;
   margin-right: auto;
   margin-left: auto;
}
#LayoutGrid1 .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid1 .col-1
{
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#LayoutGrid1
{
}
#LayoutGrid1 .col-1
{
   float: left;
}
#LayoutGrid1 .col-1
{
   background-color: transparent;
   background-image: none;
   width: 100%;
   text-align: center;
}
#LayoutGrid1:before,
#LayoutGrid1:after,
#LayoutGrid1 .row:before,
#LayoutGrid1 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid1:after,
#LayoutGrid1 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#LayoutGrid1 .col-1
{
   float: none;
   width: 100%;
}
}
#wb_LayoutGrid5
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #FFFFFF;
   background-image: none;
   border: 0px #CCCCCC solid;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}
#LayoutGrid5
{
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   padding: 0px 15px 0px 15px;
   margin-right: auto;
   margin-left: auto;
}
#LayoutGrid5 .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid5 .col-1, #LayoutGrid5 .col-2
{
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#LayoutGrid5
{
}
#LayoutGrid5 .col-1, #LayoutGrid5 .col-2
{
   float: left;
}
#LayoutGrid5 .col-1
{
   background-color: transparent;
   background-image: none;
   width: 50%;
   text-align: center;
}
#LayoutGrid5 .col-2
{
   background-color: transparent;
   background-image: none;
   width: 50%;
   text-align: center;
}
#LayoutGrid5:before,
#LayoutGrid5:after,
#LayoutGrid5 .row:before,
#LayoutGrid5 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid5:after,
#LayoutGrid5 .row:after
{
   clear: both;
}
@media (max-width: 768px)
{
#LayoutGrid5 .col-1, #LayoutGrid5 .col-2
{
   float: none;
   width: 100%;
}
}
#wb_Text5 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 20px 0px 20px 0px;
   margin: 0;
   text-align: center;
}
#wb_Text5 div
{
   text-align: center;
}
#wb_FontAwesomeIcon1
{
   background-color: #3E5B98;
   background-image: none;
   border: 0px #245580 solid;
   text-align: center;
   margin: 10px 10px 10px 10px;
   padding: 10px 10px 10px 10px;
}
#wb_FontAwesomeIcon1:hover
{
   background-color: #000000;
   background-image: none;
   border: 0px #245580 solid;
}
#FontAwesomeIcon1
{
   height: 38px;
   width: 38px;
}
#FontAwesomeIcon1 i
{
   color: #FFFFFF;
   display: inline-block;
   font-size: 38px;
   line-height: 38px;
   vertical-align: middle;
   width: 21px;
}
#wb_FontAwesomeIcon1:hover i
{
   color: #FFFFFF;
}
#wb_FontAwesomeIcon2
{
   background-color: #4DA7DE;
   background-image: none;
   border: 0px #245580 solid;
   text-align: center;
   margin: 10px 10px 10px 10px;
   padding: 10px 10px 10px 10px;
}
#wb_FontAwesomeIcon2:hover
{
   background-color: #000000;
   background-image: none;
   border: 0px #245580 solid;
}
#FontAwesomeIcon2
{
   height: 38px;
   width: 38px;
}
#FontAwesomeIcon2 i
{
   color: #FFFFFF;
   display: inline-block;
   font-size: 38px;
   line-height: 38px;
   vertical-align: middle;
   width: 34px;
}
#wb_FontAwesomeIcon2:hover i
{
   color: #FFFFFF;
}
#wb_FontAwesomeIcon3
{
   background-color: #D93E2D;
   background-image: none;
   border: 0px #245580 solid;
   text-align: center;
   margin: 10px 10px 10px 10px;
   padding: 10px 10px 10px 10px;
}
#wb_FontAwesomeIcon3:hover
{
   background-color: #000000;
   background-image: none;
   border: 0px #245580 solid;
}
#FontAwesomeIcon3
{
   height: 38px;
   width: 38px;
}
#FontAwesomeIcon3 i
{
   color: #FFFFFF;
   display: inline-block;
   font-size: 38px;
   line-height: 38px;
   vertical-align: middle;
   width: 48px;
}
#wb_FontAwesomeIcon3:hover i
{
   color: #FFFFFF;
}
#wb_FontAwesomeIcon5
{
   background-color: #E02A20;
   background-image: none;
   border: 0px #245580 solid;
   text-align: center;
   margin: 10px 10px 10px 10px;
   padding: 10px 10px 10px 10px;
}
#wb_FontAwesomeIcon5:hover
{
   background-color: #000000;
   background-image: none;
   border: 0px #245580 solid;
}
#FontAwesomeIcon5
{
   height: 38px;
   width: 38px;
}
#FontAwesomeIcon5 i
{
   color: #FFFFFF;
   display: inline-block;
   font-size: 38px;
   line-height: 38px;
   vertical-align: middle;
   width: 32px;
}
#wb_FontAwesomeIcon5:hover i
{
   color: #FFFFFF;
}
#wb_FontAwesomeIcon6
{
   background-color: #9C7C6E;
   background-image: none;
   border: 0px #245580 solid;
   text-align: center;
   margin: 10px 10px 10px 10px;
   padding: 10px 10px 10px 10px;
}
#wb_FontAwesomeIcon6:hover
{
   background-color: #000000;
   background-image: none;
   border: 0px #245580 solid;
}
#FontAwesomeIcon6
{
   height: 38px;
   width: 38px;
}
#FontAwesomeIcon6 i
{
   color: #FFFFFF;
   display: inline-block;
   font-size: 38px;
   line-height: 38px;
   vertical-align: middle;
   width: 32px;
}
#wb_FontAwesomeIcon6:hover i
{
   color: #FFFFFF;
}
#wb_LayoutGrid6
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #3C3C3C;
   background-image: none;
   border: 0px #3C3C3C solid;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}
#LayoutGrid6
{
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   padding: 0px 15px 0px 15px;
   margin-right: auto;
   margin-left: auto;
}
#LayoutGrid6 .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid6 .col-1, #LayoutGrid6 .col-2
{
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#LayoutGrid6
{
}
#LayoutGrid6 .col-1, #LayoutGrid6 .col-2
{
   float: left;
}
#LayoutGrid6 .col-1
{
   background-color: transparent;
   background-image: none;
   width: 50%;
   text-align: center;
}
#LayoutGrid6 .col-2
{
   background-color: transparent;
   background-image: none;
   width: 50%;
   text-align: center;
}
#LayoutGrid6:before,
#LayoutGrid6:after,
#LayoutGrid6 .row:before,
#LayoutGrid6 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid6:after,
#LayoutGrid6 .row:after
{
   clear: both;
}
@media (max-width: 768px)
{
#LayoutGrid6 .col-1, #LayoutGrid6 .col-2
{
   float: none;
   width: 100%;
}
}
#wb_Text6 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 15px 15px 15px 15px;
   margin: 0;
   text-align: left;
}
#wb_Text6 div
{
   text-align: left;
}
#wb_Image1
{
   vertical-align: top;
}
#Image1
{
   border: 10px #3C3C3C solid;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   padding: 0px 0px 0px 0px;
   display: block;
   width: 100%;
   height: auto;
   max-width: 440px;
   margin-left: auto;
   margin-right: auto;
   vertical-align: top;
}
#Image1:hover
{
   opacity: 0.7;
   -webkit-transition: opacity 500ms linear 0ms;
   -moz-transition: opacity 500ms linear 0ms;
   transition: opacity 500ms linear 0ms;
}
#Image1
{
   opacity: 1.0;
   -webkit-transition: opacity 500ms linear 0ms;
   -moz-transition: opacity 500ms linear 0ms;
   transition: opacity 500ms linear 0ms;
}
#wb_LayoutGrid7
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #444444;
   background-image: none;
   border: 0px #CCCCCC solid;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}
#LayoutGrid7
{
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   padding: 0px 15px 0px 15px;
   margin-right: auto;
   margin-left: auto;
}
#LayoutGrid7 .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid7 .col-1
{
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#LayoutGrid7
{
}
#LayoutGrid7 .col-1
{
   float: left;
}
#LayoutGrid7 .col-1
{
   background-color: transparent;
   background-image: none;
   width: 100%;
   text-align: center;
}
#LayoutGrid7:before,
#LayoutGrid7:after,
#LayoutGrid7 .row:before,
#LayoutGrid7 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid7:after,
#LayoutGrid7 .row:after
{
   clear: both;
}
@media (max-width: 768px)
{
#LayoutGrid7 .col-1
{
   float: none;
   width: 100%;
}
}
#wb_Text7 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 25px 0px 25px 0px;
   margin: 0;
   text-align: center;
}
#wb_Text7 div
{
   text-align: center;
}
#wb_CssMenu1
{
   border: 0px #C0C0C0 solid;
   background-color: transparent;
}
#wb_CssMenu1 ul
{
   list-style-type: none;
   margin: 0;
   padding: 0;
   position: relative;
   display: inline-block;
}
#wb_CssMenu1 li
{
   float: left;
   margin: 0;
   padding: 0px 0px 0px 0px;
   width: 80px;
}
#wb_CssMenu1 a
{
   display: block;
   float: left;
   color: #F5F5F5;
   border: 0px #CCCCCC solid;
   background-color: transparent;
   background-image: none;
   font-family: Arial;
   font-weight: bold;
   font-size: 13px;
   font-style: normal;
   text-decoration: none;
   width: 57px;
   height: 40px;
   padding: 0px 5px 0px 18px;
   vertical-align: middle;
   line-height: 40px;
   text-align: center;
}
#wb_CssMenu1 li:hover a, #wb_CssMenu1 a:hover, #wb_CssMenu1 .active
{
   color: #7A6542;
   background-color: transparent;
   background-image: none;
   border: 0px #222222 solid;
}
#wb_CssMenu1 li.firstmain
{
   padding-left: 0px;
}
#wb_CssMenu1 li.lastmain
{
   padding-right: 0px;
}
#wb_CssMenu1 br
{
   clear: both;
   font-size: 1px;
   height: 0;
   line-height: 0;
}
#wb_FontAwesomeIcon1
{
   display: inline-block;
   width: 38px;
   height: 38px;
   text-align: center;
   z-index: 32;
}
#Editbox1
{
   display: block;
   width: 100%;
   height: 38px;
   line-height: 38px;
   z-index: 23;
}
#wb_Heading2
{
   display: inline-block;
   width: 100%;
   text-align: center;
   z-index: 11;
}
#Layer2_Container
{
   width: 970px;
   position: relative;
   margin-left: auto;
   margin-right: auto;
   text-align: left;
}
#wb_top
{
   position: absolute;
   left: 933px;
   top: 0px;
   width: 20px;
   height: 20px;
   z-index: 2;
}
#wb_YouTube1
{
   position: absolute;
   left: 984px;
   top: 185px;
   width: 100px;
   height: 56px;
   z-index: 41;
}
#wb_FontAwesomeIcon2
{
   display: inline-block;
   width: 38px;
   height: 38px;
   text-align: center;
   z-index: 33;
}
#Editbox2
{
   display: block;
   width: 100%;
   height: 38px;
   line-height: 38px;
   z-index: 24;
}
#Layer5_Container
{
   width: 970px;
   position: relative;
   margin-left: auto;
   margin-right: auto;
   text-align: left;
}
#wb_Heading3
{
   display: inline-block;
   width: 100%;
   text-align: center;
   z-index: 14;
}
#wb_FontAwesomeIcon3
{
   display: inline-block;
   width: 38px;
   height: 38px;
   text-align: center;
   z-index: 34;
}
#Editbox3
{
   display: block;
   width: 100%;
   height: 38px;
   line-height: 38px;
   z-index: 25;
}
#TransparentLayer_Container
{
   width: 970px;
   height: 448px;
   position: relative;
   margin-left: auto;
   margin-right: auto;
   margin-top: auto;
   margin-bottom: auto;
   text-align: left;
}
#wb_Image1
{
   display: inline-block;
   width: 100%;
   height: auto;
   z-index: 39;
}
#wb_FontAwesomeIcon4
{
   display: inline-block;
   width: 56px;
   height: 56px;
   text-align: center;
   z-index: 7;
}
#wb_Text3
{
   position: absolute;
   left: 36px;
   top: 59px;
   width: 871px;
   height: 40px;
   text-align: center;
   z-index: 4;
}
#wb_Bookmark1
{
   position: absolute;
   left: 950px;
   top: 0px;
   width: 20px;
   height: 20px;
   z-index: 0;
}
#wb_Bookmark2
{
   display: inline-block;
   width: 100%;
   z-index: 38;
}
#wb_FontAwesomeIcon5
{
   display: inline-block;
   width: 38px;
   height: 38px;
   text-align: center;
   z-index: 36;
}
#wb_Text4
{
   position: absolute;
   left: 208px;
   top: 33px;
   width: 555px;
   height: 49px;
   text-align: center;
   z-index: 6;
}
#wb_FontAwesomeIcon6
{
   display: inline-block;
   width: 38px;
   height: 38px;
   text-align: center;
   z-index: 35;
}
#Layer2
{
   position: relative;
   text-align: center;
   margin: 0px 0px 0px 0px;
   width: 100%;
   height: 160px;
   float: left;
   clear: left;
   display: block;
   z-index: 44;
}
#TextArea1
{
   display: block;
   width: 100%;
   height: 136px;
   z-index: 26;
}
#wb_FontAwesomeIcon7
{
   display: inline-block;
   width: 56px;
   height: 56px;
   text-align: center;
   z-index: 10;
}
#Layer3
{
   position: relative;
   text-align: center;
   margin: 0px 0px 0px 0px;
   width: 100%;
   height: 118px;
   float: left;
   clear: left;
   display: block;
   z-index: 45;
}
#wb_about
{
   position: absolute;
   left: 933px;
   top: 6px;
   width: 20px;
   height: 20px;
   z-index: 3;
}
#PageHeader
{
   display: block;
   position: relative;
   overflow: hidden;
   text-align: left;
   width: 100%;
   height: 50px;
   z-index: 7777;
}
#wb_FontAwesomeIcon8
{
   display: inline-block;
   width: 56px;
   height: 56px;
   text-align: center;
   z-index: 13;
}
#about
{
   visibility: hidden;
}
#Layer5
{
   position: relative;
   text-align: center;
   margin: 0px 0px 0px 0px;
   width: 100%;
   height: 80px;
   float: left;
   clear: left;
   display: block;
   z-index: 46;
}
#Layer6
{
   position: relative;
   text-align: center;
   margin: 0px 0px 0px 0px;
   width: 100%;
   height: 158px;
   float: left;
   clear: left;
   display: block;
   z-index: 47;
}
#Bookmark1
{
   visibility: hidden;
}
#Bookmark2
{
   visibility: hidden;
}
#wb_portfolio
{
   position: absolute;
   left: 933px;
   top: 0px;
   width: 20px;
   height: 20px;
   z-index: 16;
}
#wb_PhotoGallery1
{
   display: inline-block;
   width: 100%;
   z-index: 18;
}
#wb_Text13
{
   position: absolute;
   left: 222px;
   top: 49px;
   width: 526px;
   height: 16px;
   text-align: center;
   z-index: 17;
}
#TransparentLayer
{
   position: relative;
   text-align: center;
   margin: 0px 0px 0px 0px;
   width: 100%;
   height: 100%;
   float: left;
   display: block;
   z-index: 43;
}
#Layer6_Container
{
   width: 970px;
   position: relative;
   margin-left: auto;
   margin-right: auto;
   text-align: left;
}
#wb_services
{
   position: absolute;
   left: 933px;
   top: 0px;
   width: 20px;
   height: 20px;
   z-index: 5;
}
#Layer3_Container
{
   width: 970px;
   position: relative;
   margin-left: auto;
   margin-right: auto;
   text-align: left;
}
#wb_CssMenu1
{
   position: absolute;
   left: 560px;
   top: 5px;
   width: 400px;
   height: 40px;
   text-align: right;
   z-index: 1;
}
#Button1
{
   display: inline-block;
   width: 136px;
   height: 34px;
   z-index: 30;
}
#wb_contact
{
   display: inline-block;
   width: 100%;
   z-index: 27;
}
#contact
{
   visibility: hidden;
}
#top
{
   visibility: hidden;
}
#portfolio
{
   visibility: hidden;
}
#wb_Heading1
{
   display: inline-block;
   width: 100%;
   text-align: center;
   z-index: 8;
}
#services
{
   visibility: hidden;
}
@media only screen and (max-width: 969px)
{
#PageHeader
{
   height: 50px;
   visibility: visible;
}
#PageHeader
{
   width: 100%;
}
#wb_YouTube1
{
   visibility: visible;
}
#TransparentLayer
{
   visibility: visible;
   display: inline;
   background-color: transparent;
   background-image: none;
}
#TransparentLayer_Container
{
   width: 480px;
   height:448px;
}
#wb_Text2
{
   visibility: visible;
   display: block;
   background-color: transparent;
   background-image: none;
}
#Layer2
{
   height: 160px;
   visibility: visible;
   display: inline;
   background-color: #4775C0;
   background-image: none;
}
#Layer2_Container
{
   width: 480px;
}
#wb_about
{
   left: 441px;
   top: 0px;
   width: 20px;
   height: 20px;
   visibility: visible;
   display: inline;
}
#Layer3
{
   height: 118px;
   visibility: visible;
   display: inline;
   background-color: #FFFFFF;
   background-image: none;
}
#Layer3_Container
{
   width: 480px;
}
#wb_services
{
   left: 441px;
   top: 0px;
   width: 20px;
   height: 20px;
   visibility: visible;
   display: inline;
}
#wb_top
{
   left: 441px;
   top: 0px;
   width: 20px;
   height: 20px;
   visibility: visible;
   display: inline;
}
#wb_Text3
{
   left: 62px;
   top: 28px;
   width: 356px;
   height: 104px;
   visibility: visible;
   display: inline;
   background-color: transparent;
   background-image: none;
}
#wb_Text4
{
   left: 69px;
   top: 17px;
   width: 342px;
   height: 85px;
   visibility: visible;
   display: inline;
   background-color: transparent;
   background-image: none;
}
#wb_contact
{
   visibility: visible;
   display: inline-block;
}
#wb_LayoutGrid2
{
   visibility: visible;
   display: table;
   background-color: #FFFFFF;
   background-image: none;
}
#LayoutGrid2 .col-1
{
   text-align: center;
}
#LayoutGrid2 .col-2
{
   text-align: center;
}
#LayoutGrid2 .col-3
{
   text-align: center;
}
#wb_FontAwesomeIcon4
{
   width: 56px;
   height: 56px;
   visibility: visible;
   display: inline-block;
   color: #FFFFFF;
   background-color: #474745;
   background-image: none;
}
#FontAwesomeIcon4
{
   width: 56px;
   height: 56px;
}
#FontAwesomeIcon4 i
{
   line-height: 56px;
   font-size: 56px;
}
#wb_FontAwesomeIcon7
{
   width: 56px;
   height: 56px;
   visibility: visible;
   display: inline-block;
   color: #FFFFFF;
   background-color: #474745;
   background-image: none;
}
#FontAwesomeIcon7
{
   width: 56px;
   height: 56px;
}
#FontAwesomeIcon7 i
{
   line-height: 56px;
   font-size: 56px;
}
#wb_FontAwesomeIcon8
{
   width: 56px;
   height: 56px;
   visibility: visible;
   display: inline-block;
   color: #FFFFFF;
   background-color: #474745;
   background-image: none;
}
#FontAwesomeIcon8
{
   width: 56px;
   height: 56px;
}
#FontAwesomeIcon8 i
{
   line-height: 56px;
   font-size: 56px;
}
#wb_Heading1
{
   visibility: visible;
   display: block;
   color: #333333;
   background-color: transparent;
   background-image: none;
}
#wb_Heading2
{
   visibility: visible;
   display: block;
   color: #333333;
   background-color: transparent;
   background-image: none;
}
#wb_Heading3
{
   visibility: visible;
   display: block;
   color: #333333;
   background-color: transparent;
   background-image: none;
}
#wb_Text8
{
   visibility: visible;
   display: block;
   background-color: transparent;
   background-image: none;
}
#wb_Text10
{
   visibility: visible;
   display: block;
   background-color: transparent;
   background-image: none;
}
#wb_Text11
{
   visibility: visible;
   display: block;
   background-color: transparent;
   background-image: none;
}
#Layer5
{
   height: 80px;
   visibility: visible;
   display: inline;
   background-color: #FFFFFF;
   background-image: none;
}
#Layer5_Container
{
   width: 480px;
}
#Layer6
{
   height: 158px;
   visibility: visible;
   display: inline;
   background-color: #4775C0;
   background-image: none;
}
#Layer6_Container
{
   width: 480px;
}
#wb_portfolio
{
   left: 441px;
   top: 14px;
   width: 20px;
   height: 20px;
   visibility: visible;
   display: inline;
}
#wb_Text13
{
   left: 62px;
   top: 37px;
   width: 356px;
   height: 85px;
   visibility: visible;
   display: inline;
   background-color: transparent;
   background-image: none;
}
#wb_LayoutGrid3
{
   visibility: visible;
   display: table;
   background-color: transparent;
   background-image: none;
}
#LayoutGrid3 .col-1
{
   text-align: center;
}
#wb_PhotoGallery1
{
   visibility: visible;
   display: block;
   color: #000000;
   background-color: transparent;
   background-image: none;
}
#PhotoGallery1 .thumbnail
{
   width: 50%;
}
#PhotoGallery1 .visible-col4
{
   display: none;
}
#PhotoGallery1 .visible-col2
{
   display: block;
}
#Editbox1
{
   visibility: visible;
   display: block;
   color: #000000;
   background-color: #FFFFFF;
   background-image: none;
}
#Editbox2
{
   visibility: visible;
   display: block;
   color: #000000;
   background-color: #FFFFFF;
   background-image: none;
}
#Editbox3
{
   visibility: visible;
   display: block;
   color: #000000;
   background-color: #FFFFFF;
   background-image: none;
}
#TextArea1
{
   height: 128px;
   visibility: visible;
   display: block;
   color: #000000;
   background-color: #FFFFFF;
   background-image: none;
}
#Button1
{
   width: 136px;
   height: 34px;
   visibility: visible;
   display: inline-block;
   color: #FFFFFF;
   background-color: #4775C0;
   background-image: none;
}
#wb_LayoutGrid4
{
   visibility: visible;
   display: table;
   background-color: transparent;
   background-image: none;
}
#LayoutGrid4 .row .col-1
{
   text-align: left;
}
#LayoutGrid4 .row .col-2
{
   text-align: right;
}
#wb_LayoutGrid1
{
   visibility: visible;
   display: table;
   background-color: #EFEFEF;
   background-image: none;
}
#LayoutGrid1 .col-1
{
   text-align: center;
}
#wb_Bookmark1
{
   left: 480px;
   top: 30px;
   width: 20px;
   height: 20px;
   visibility: visible;
   display: inline;
}
#wb_LayoutGrid6
{
   visibility: visible;
   display: table;
   background-color: #3C3C3C;
   background-image: none;
}
#LayoutGrid6 .col-1
{
   text-align: center;
}
#LayoutGrid6 .col-2
{
   text-align: center;
}
#wb_Image1
{
   visibility: visible;
   display: block;
}
#wb_CssMenu1
{
   left: 187px;
   top: 5px;
   visibility: visible;
   display: inline;
}
#wb_CssMenu1 li
{
   width: 80px;
}
#wb_CssMenu1 a
{
   color: #F5F5F5;
   border: 0px #CCCCCC solid;
   background-color: transparent;
   background-image: none;
   font-family: Arial;
   font-weight: bold;
   font-size: 13px;
   font-style: normal;
   text-decoration: none;
   width: 57px;
   height: 40px;
   padding: 0px 5px 0px 18px;
   line-height: 40px;
}
#wb_CssMenu1 li:hover a, #wb_CssMenu1 a:hover, #wb_CssMenu1 .active
{
   color: #7A6542;
   background-color: transparent;
   background-image: none;
   border: 0px #222222 solid;
}
}
#PageHeader
{
   position: fixed !important;
   float: none !important;
}
#wb_CssMenu1
{
   left: auto !important;
   right: 10px;
}
#wb_YouTube1
{
   position: absolute !important;
}
